// Colors
$primary-color: #51a8b1;
$secondary-color: #fff358;
$dark-color: #606062;
$light-color: #f7f7f7;
$light-grey: #aaaaab;

// Typography
$font-family-sans-serif: 'Overpass', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Mixins
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
          box-sizing: $box-model;
}

@mixin transition($args...) {
  -webkit-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin animation($duration, $animation, $fillMode, $delay){
  -webkit-animation-name: $animation;
          animation-name: $animation;

  -webkit-animation-duration: $duration;
          animation-duration: $duration;

  -webkit-animation-fill-mode: $fillMode;
          animation-fill-mode: $fillMode;

  -webkit-animation-delay: $delay;
          animation-delay: $delay; 
}

@mixin keyframes ($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
      @content;
  }
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
      -ms-transform: $transforms;
          transform: $transforms;
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}






