// Colors
$primary-color: #51a8b1;
$secondary-color: #fff358;
$dark-color: #606062;
$light-color: #f7f7f7;

// Typography
$font-family-sans-serif: 'Overpass', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
